    <div class="content-wrapper">
      <div class="tabs">
        <div id="centered-menu">
          <ul class="active1">
            <li id='completed'><a href="#completed" class="active">Completed</a></li>
            <li id='uncompleted'><a href="#uncompleted">Uncompleted</a></li>
          </ul>
          <ul class="active2">
            <li id='list'><a href="#list" class="active">List</a></li>
            <li id='map'><a href="#map">Map</a></li>
          </ul>
        </div>
      </div>
    </div>