<div class="content-wrapper">
  <div class="tabs">
    <div id="centered-menu">
      <ng-include src="'views/stories/filterspartial.html'"> </ng-include>
    </div>
  </div>
  <article>
    <div class="post-wrapper noCursor" role="tabable" id="completed" ng-show="displayList" ng-repeat="story in stories | filter: completedFilter ">
        <ng-include src="'views/stories/storypartial.html'"> </ng-include>
    </div>
  </article>
  <article role="tabable" id="completed" ng-show="!displayList">
    <div class="post-wrapper noCursor">
      <div id="map-canvas"></div>
    </div>
  </article>
</div>

