 <h3>Create New Story<h3>
  <form name="newStoryForm" ng-submit="createNewStory(story)" novalidate>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" ng-model="story.title" required /><br />
    <label for="contributionLimit">Contribution Limit</label>
    <input id="contributionLimit" type="number" name="contributionLimit" ng-model="story.contribution_limit" required />
    <br />
    <br />

    <button type="submit"
            ng-disabled="newStoryForm.$invalid">Submit</button>
  </form>
  <br />