<form name="getStoriesNearLocationForm" ng-submit="getStoriesNearLocation(address)" novalidate>
<input id="title" type="text" name="title" ng-model="address" required />
    <button type="submit"
            ng-disabled="getStoriesNearLocationForm.$invalid">Search</button>
  </form>

<div id="map_list">
  <button type="button" ng-click="map()">Map</button>
  <button type="button" ng-click="list()">List</button>
</div>

<div id="complete_incomplete">
  <button type="button" ng-click="completeStories()">Complete</button>
  <button type="button" ng-click="incompleteStories()">Incomplete</button>
</div>

<ul class="stories container">
  <div id="list" ng-if="displayList">
    <li ng-repeat="story in stories | filter: completedFilter ">
      <ng-include src="'views/stories/storypartial.html'"> </ng-include>
    </li>
  </div>

  <div class="content-wrapper tab" role="tabable" id="completed" ng-show="!displayList">
    <article>
      <div class="post-wrapper noCursor">
            <div class="desc-column">
              <div class="wrap">
                <div id="map-canvas"></div>
            </div>
      </div>
    </article>
  </div>

</ul>


