<div class="search-container>
<form name="getStoriesNearLocationForm" ng-submit="getStoriesNearLocation(address)" novalidate>
<input id="search" type="text" name="search" ng-model="address" required />
    <button id="search_submit" type="submit"
            ng-disabled="getStoriesNearLocationForm.$invalid">Search</button>
  </form>
</div>
<!--           <div class="search-container pull-right">
            <input id="search" name="search" type="text" placeholder="search bar">
            <input id="search_submit" value="" type="submit">
          </div> -->

<ng-include src="'views/stories/filterspartial.html'"> </ng-include>

<ul class="stories container">

  <div id="list" ng-show="displayList">
    <li ng-repeat="story in stories | filter: completedFilter ">
      <ng-include src="'views/stories/storypartial.html'"> </ng-include>
    </li>
  </div>
  <div class="content-wrapper tab" role="tabable" id="completed" ng-show="!displayList">
    <article>
      <div class="post-wrapper noCursor">
        <div id="map-canvas"></div>
<!--            <div class="desc-column">
              <div class="wrap">

            </div> -->
      </div>
    </article>
  </div>

</ul>


<div class="clear"></div>





</ul>


