
        <div class="main-story">
          <div class="container-story clearfix">
            <div class="content-story">
              <section>
                <div class="wrap">
                  <span class="title color-red pull-left">{{story.title}}</span>
                  <span class="pull-right title color-red location">{{story.location.address}}</span>
                  <div class="clear"></div>
                </div>
                <p ng-if="!story.completed" class="desc">{{story.last_contribution.content}} by {{story.last_contribution.username}}</p>
                <p ng-if="story.completed"class="desc">{{story.first_contribution.content}} by {{story.first_contribution.username}}</p>
                </section>
            </div>
            <div class="contribution-button">
              <center>
	              <img src="images/add-contribution.png"  ng-show="!story.completed" type="button" ng-click="contribute(story)">
	              <img src="images/add-contribution.png"  ng-show="story.completed" type="button" ng-click="viewComplete(story)">
              </center>
            </div>
          </div>
        </div><!-- #main -->
