<h3>Contribute to a Story<h3>
<form name="newContribution" ng-submit="createContribution(contribution, storyId)" novalidate>
  <label for="content">Content</label>
  <textarea id="content" name="content" ng-model="contribution.content" required></textarea><br />
  <br />
  <label for="storyId">User name</label>
  <input id="storyId" type="text" ng-model="contribution.username" name="username" required></textarea><br />
  <br />

  <button type="submit"
          ng-disabled="newContribution.$invalid">Submit</button>
</form>